@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --background: #161716;
    --background-foreground: #2a2a2a;
    --background-hover: #383838;

    --text: #fcfcfc;
    --text-foreground: rgb(108, 108, 108);

    --primary: #8d00e1;
    --primary-hover: #7700bd;

    --secondary: #e17100;
    --secondary-hover: #c15b00;

    --card: #1f1f1f;
    --card-foreground: #d0d0d0;
    --card-hover: #2a2a2a;

    --border: #363636;
    --radius: 0.5rem;

    --muted: rgba(163, 163, 163, 0.22);
    --muted-primary: rgba(161, 0, 255, 0.13);

    --accent: #484848;
    --accent-hover: #5a5a5a;

    --destructive: #ff0000;
    --destructive-hover: #b60000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
}
